<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="serviceContainer" type="Platform.Utils.Owin.Configuration.ServiceContainerSection, Platform.Utils.Owin" />
    <section name="serviceBus" type="Platform.Utils.ServiceBus.Configuration.ServiceBusSection, Platform.Utils.ServiceBus" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="auth" type="Platform.Utils.Owin.Authorization.Configuration.AuthSection, Platform.Utils.Owin" />
    <section name="grpcService" type="Platform.Utils.Grpc.Configuration.ServiceSection, Platform.Utils.Grpc" />
    <section name="kafka" type="Platform.Utils.Kafka.Configuration.KafkaConfigurationSection, Platform.Utils.Kafka" />
  </configSections>
  <kafka>
    <clusters>
      <add name="Default">
        <brokers>
          <add url="http://demo.kafka1.domination.win:9092"></add>
        </brokers>
      </add>
    </clusters>
  </kafka>
  <grpcService>
    <serviceHost host="localhost" />
  </grpcService>
  <auth>
    <principals>
      <principal name="UtilityUser" type="UtilityUser" parentType="InfraUser" />
      <principal name="BusinessUtilityUser" type="BusinessUtilityUser" parentType="CompanyUser" />
    </principals>
  </auth>
  <connectionStrings>
    <add name="RedisServer" connectionString="demo.redis1.domination.win, password=realine2014, allowAdmin=true" />
    <add name="MqttBroker" connectionString="demo.emitter.domination.win" />
    <add name="kafka" connectionString="demo.kafka1.domination.win" />
  </connectionStrings>
  <serviceContainer serviceName="Platform.demo-testshipment.Service" description="Platform.Template.Service" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <serviceBus connectionString="amqp://dev:dev@demo.r1.domination.win:5672/" />
  <appSettings>
    <add key="jwtSecret" value="Mjk1Q0E4REQtNjYyQi00QkNDLUExMzAtRTMyOEU5RDJDMjQ5" />
    <add key="jwtIssuer" value="realine.net" />
    <add key="principalType" value="InfraUser" />
    <add key="serviceUrl" value="http://+:51332/" />
    <add key="redisUserStorageConnection" value="infrastructure.redis1.domination.win,allowAdmin=true, password=realine2014" />
    <add key="redisUserStorageTimeout" value="30.00:00:00" />
    <add key="redisUserStorageDb" value="0" />
    <add key="redisEventStorageDb" value="1" />
    <add key="redisHangfireDb" value="2" />
    <add key="redisApiResultStorageDb" value="3" />
    <add key="identity" value="1472C272-D7DC-45AF-B323-CCA51BB4C708" />
    <add key="physicalSvcConfigUrl" value="http://master.s1.test.domination.win/Platform.Events.Web.New/PhysicalService/GetPhysicalServiceSettings?serviceIdentity={0}" />
    <add key="epaListUrl" value="http://master.s1.test.domination.win/Platform.Events.Web.New/PhysicalService/GetServicesAttachedToPhysical?serviceIdentity={0}" />
    <add key="epaConfigUrl" value="http://master.s1.test.domination.win/Platform.Events.Web.New/Service/GetServiceSettings?serviceIdentity={0}" />
    <add key="epaLibsUrl" value="http://master.s1.test.domination.win/Platform.Events.Web.new/Service/GetServiceLibraries?serviceIdentity={0}" />
    <add key="aspnet:UseLegacyEncryption" value="true" />
    <add key="aspnet:UseLegacyMachineKeyEncryption" value="true" />
    <add key="mqttBrokerPort" value="8080" />
    <add key="mqttBrokerSecretKey" value="wjtOBmXq76x2oEw-B1iZQFxoHHeI-UG2" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" internalLogFile="nlog_internal.txt" internalLogLevel="Trace">
    <extensions>
      <add assembly="Platform.Utils.NLog" />
    </extensions>
    <variable name="serviceName" value="demo-testshipment" />
    <variable name="cloud" value="demo" />
    <targets>
      <target name="file" type="File" fileName="${basedir}\Logs\${shortdate}.log" encoding="utf-8" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid}}] ${uppercase:${pad:${level}:padding=-5}} ${logger} ${message}${onexception:${newline}${exception:format=ToString}}" />
      <target name="console" type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
      <target name="kafka" type="Kafka" topic="logs-debug-new">
        <layout type="JsonLayout">
          <attribute name="time" layout="${longdate}" />
          <attribute name="logger" layout="${logger}" />
          <attribute name="serviceName" layout="${serviceName}" />
          <attribute name="cloud" layout="${cloud}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
        </layout>
      </target>
      <target name="kafka-diagnostic" type="Kafka" topic="logs-debug-new" layout="${message}" />
    </targets>
    <rules>
      <!--<logger name="Platform.Utils.Diagnostics*" minlevel="Trace" writeTo="kafka-diagnostic" />-->
      <!--<logger name="*" minlevel="Error" writeTo="kafka" />-->
      <logger name="*" minlevel="Trace" writeTo="console, file" />
    </rules>
  </nlog>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="adonet.batch_size">50</property>
      <property name="show_sql">true</property>
      <property name="command_timeout">20</property>
      <property name="query.substitutions">true 1, false 0</property>
      <property name="hbm2ddl.keywords">none</property>
      <property name="cache.use_second_level_cache">false</property>
    </session-factory>
  </hibernate-configuration>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />-->
    <machineKey validationKey="930681CA8CDC1BC09118D6B37E4A1B7712CEDBBD9FA1E35407EA1CD440C7E6F2DB9E93DADAC4098F90ACC7417DBE57C196722FC67F313A6AAE0F946E2FF731B6" decryptionKey="714C9581DA522C636B2D97D80276D5ACC02C274A11ABF117C76181B0480D4AEA" validation="SHA1" decryption="AES" compatibilityMode="Framework45" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="extensions;bin;bin\extensions" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Extensions.ExecutionContextScoping" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.30826.1200" newVersion="4.0.30826.1200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>