<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="serviceBus" type="Platform.Utils.ServiceBus.Configuration.ServiceBusSection, Platform.Utils.ServiceBus" />
    <section name="serviceContainer" type="Platform.Utils.WinService.Configuration.ServiceContainerSection, Platform.Utils.WinService" />
    <section name="kafka" type="Platform.Utils.Kafka.Configuration.KafkaConfigurationSection,  Platform.Utils.Kafka" />
  </configSections>
  <serviceContainer serviceName="Platform.Utils.Test" description="Platform.Utils.Test" />
  <connectionStrings>
    <add name="RedisServer" connectionString="infrastructure.redis1.test.domination.win,allowAdmin=true, password=realine2014" />
    <add name="Cassandra" connectionString="52.29.54.240" />
  </connectionStrings>
  <kafka>
    <clusters>
      <add name="test">
        <brokers>
          <add url="http://52.53.210.175:9092" />
          <!--<add url="http://localhost:9092" />-->
        </brokers>
      </add>
    </clusters>
    <producers>
      <add cluster="test" batchDelayTimeMs="1000" />
    </producers>
    <consumers>
      <add topic="Platform.ServiceBus.PlatformLogger" cluster="test" />
    </consumers>
  </kafka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <serviceBus enableSendRetry="true" maxSendRetries="2" enableConsumeRetry="true" maxConsumeRetry="2" connectionString="amqp://dev:dev@infrastructure.r1.test.domination.win:5672" />
  <appSettings>
    <add key="redisHangfireDb" value="2" />
    <add key="identity" value="935DE666-616C-409A-B5AF-45ADC438266B" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <variable name="serviceName" value="Platform.Template.Owin" />
    <variable name="cloud" value="utility" />
    <extensions>
      <add assembly="Platform.Utils.NLog" />
    </extensions>
    <targets>
      <target name="file" type="File" fileName="${basedir}\Logs\${shortdate}.log" encoding="utf-8" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid}}] ${uppercase:${pad:${level}:padding=-5}} ${logger} ${message}${onexception:${newline}${exception:format=ToString}}" />
      <target name="console" type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
      <target name="kafka" type="Kafka">
        <layout type="JsonLayout">
          <attribute name="dir" layout="${basedir}" />
          <attribute name="logger" layout="${logger}" />
          <attribute name="process" layout="${processname}" />
          <attribute name="level" layout="${level}" />
          <attribute name="machinename" layout="${machinename}" />
          <attribute name="username" layout="${identity}" />
          <attribute name="callsite" layout="${callsite:filename=true}" />
          <attribute name="threadid" layout="${threadid}" />
          <attribute name="logexception" layout="${exception}" />
          <attribute name="stacktrace" layout="${stacktrace}" />
          <attribute name="timestamp" layout="${longdate}" />
          <attribute name="serviceName" layout="${serviceName}" />
          <attribute name="cloud" layout="${cloud}" />
        </layout>
      </target>
      <!--<target name="elastic" type="BufferingWrapper" flushTimeout="5000">
        <target type="ElasticSearch" uri="http://52.88.39.123:9200" layout="${message}" includeAllProperties="true">
          <field name="dir" layout="${basedir}" />
          <field name="logger" layout="${logger}" />
          <field name="process" layout="${processname}" />
          <field name="level" layout="${level}" />
          <field name="machinename" layout="${machinename}" />
          <field name="username" layout="${identity}" />
          <field name="callsite" layout="${callsite:filename=true}" />
          <field name="threadid" layout="${threadid}" />
          <field name="logexception" layout="${exception}" />
          <field name="stacktrace" layout="${stacktrace}" />
          <field name="timestamp" layout="${longdate}" />
          <field name="serviceName" layout="${serviceName}" />
          <field name="cloud" layout="${cloud}" />
        </target>
      </target>-->
    </targets>
    <rules>
      <logger name="Platform.ServiceBus.*" minlevel="Debug" writeTo="kafka" />
      <logger name="*" minlevel="Debug" writeTo="file,console" />
    </rules>
  </nlog>
  <system.web>
    <machineKey validationKey="930681CA8CDC1BC09118D6B37E4A1B7712CEDBBD9FA1E35407EA1CD440C7E6F2DB9E93DADAC4098F90ACC7417DBE57C196722FC67F313A6AAE0F946E2FF731B6" decryptionKey="714C9581DA522C636B2D97D80276D5ACC02C274A11ABF117C76181B0480D4AEA" validation="SHA1" decryption="AES" compatibilityMode="Framework45" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="extensions;bin;bin\extensions" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Extensions.ExecutionContextScoping" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.30826.1200" newVersion="4.0.30826.1200" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
