<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" internalLogFile="nlog_internal.txt" internalLogLevel="Trace">
  <!--<extensions>
    <add assembly="Platform.Utils.NLog" />
  </extensions>-->
  <variable name="serviceName" value="demo-testshipment" />
  <variable name="cloud" value="demo" />
  <targets>
    <target name="file" type="File" fileName="${basedir}\Logs\${shortdate}.log" encoding="utf-8" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid}}] ${uppercase:${pad:${level}:padding=-5}} ${logger} ${message}${onexception:${newline}${exception:format=ToString}}" />
    <target name="console" type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
    <!--<target name="kafka" type="Kafka" topic="logs-debug-new">
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="serviceName" layout="${serviceName}" />
        <attribute name="cloud" layout="${cloud}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <target name="kafka-diagnostic" type="Kafka" topic="logs-debug-new" layout="${message}" />-->
  </targets>
  <rules>
    <!--<logger name="Platform.Utils.Diagnostics*" minlevel="Trace" writeTo="kafka-diagnostic" />-->
    <!--<logger name="*" minlevel="Error" writeTo="kafka" />-->
    <logger name="*" minlevel="Trace" writeTo="console, file" />
  </rules>
</nlog>