<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="serviceBus" type="Platform.Utils.ServiceBus.Configuration.ServiceBusSection, Platform.Utils.ServiceBus" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="serviceContainer" type="Platform.Utils.Owin.Configuration.ServiceContainerSection, Platform.Utils.Owin" />
  </configSections>
  <serviceContainer serviceName="Platform.demo-testshipment.Service" description="Platform.Template.Service">
    <identities>
      <add value="9AE4279E-37B8-4FAA-ACC6-1FF2C2E5D3C0" />
    </identities>
  </serviceContainer>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="adonet.batch_size">50</property>
      <property name="show_sql">true</property>
      <property name="command_timeout">20</property>
      <property name="query.substitutions">true 1, false 0</property>
      <property name="hbm2ddl.keywords">none</property>
      <property name="cache.use_second_level_cache">false</property>
    </session-factory>
  </hibernate-configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" internalLogFile="nlog_internal.txt" internalLogLevel="Trace">

    <variable name="serviceName" value="demo-testshipment" />
    <variable name="cloud" value="demo" />
    <targets>
      <target name="file" type="File" fileName="${basedir}\Logs\${shortdate}.log" encoding="utf-8" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid}}] ${uppercase:${pad:${level}:padding=-5}} ${logger} ${message}${onexception:${newline}${exception:format=ToString}}" />
      <target name="console" type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console, file" />
    </rules>
  </nlog>
  <appSettings>
    <add key="serviceUrl" value="http://+:9086/" />
    <add key="redisUserStorageConnection" value="demo.redis1.domination.win" />
    <add key="redisUserStorageTimeout" value="30.00:00:00" />
    <add key="redisUserStorageDb" value="0" />
    <add key="redisEventStorageDb" value="1" />
    <add key="identity" value="DF5BE51D-F9D6-41A7-B7ED-1745306B2EA80" />
    <add key="aspnet:UseLegacyEncryption" value="true" />
    <add key="aspnet:UseLegacyMachineKeyEncryption" value="true" />
  </appSettings>
  <serviceBus connectionString="amqp://dev:dev@demo.r1.domination.win:5672/" />
  <connectionStrings>
    <add name="Database" connectionString="Data Source=(local);Integrated Security=False;User ID=realine;Password=realine2014;Initial Catalog=Platform.Template.Owin" />
    <add name="CasServer" connectionString="52.29.54.240" />
    <add name="Cassandra_DF5BE51D-F9D6-41A7-B7ED-1745306B2EA80" connectionString="52.29.54.240" />
    <add name="CassandraCs" connectionString="52.29.54.240" />
    <add name="TransactionCache" connectionString="52.29.54.240" />
    <add name="RedisServer" connectionString="demo.redis1.domination.win,allowAdmin=true, password=realine2014" />
    <add name="MongoDb" connectionString="mongodb://dmz.mongo1.test.domination.win:27017/main" />
    <add name="MasterDataMongoDb" connectionString="mongodb://dmz.mongo1.test.domination.win:27017/mainMasterData" />
    <add name="SharedRedis" connectionString="sharedredis.test.domination.win,allowAdmin=true, password=realine2014" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Extensions.ExecutionContextScoping" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.127" newVersion="5.0.0.127" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
